<!-- Profile -->
<div class="container">
    <div class="col-lg-3">
        <div class="profile-left-content">
            <div class="card mb-30">
                <div class="card-body">
                    <div class="card-header">
                        <h5 class="card-title">Info</h5>
                    </div>

                    <ul class="info">
                        <li>
                            <p class="text-primary">Thông tin cá nhân</p>
                        </li>
                        <li>
                            <i data-feather="edit" class="icon"></i>
                            Language: English
                        </li>
                        <li>
                            <i data-feather="calendar" class="icon"></i>
                            Joined: Joined March 2019
                        </li>
                        <li>
                            <i data-feather="calendar" class="icon"></i>
                            Birthday: Born March 2, 1995
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="profile-middle-content mb-30">
            <div class="post-card">
                <div class="media">
                    <%= image_tag('user/1.jpg', class: 'mr-3 rounded-circle', width: '50', height: '50', alt: 'User Image') %>
                    <div class="media-body">
                        <h5><a href="#">There are many variations of passages of Lorem Ipsum</a></h5>
                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                        <a href="#">
                            <%= image_tag('post/post-img.jpg', alt: 'User Image') %>
                        </a>
                        <div class="feed-back mt-3">
                            <a href="#">
                                <i class="fa fa-comment" aria-hidden="true"></i>
                                897
                            </a>
                            <a href="#">
                                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                897
                            </a>
                            <a href="#">
                                <i class="fa fa-share-square-o" aria-hidden="true"></i>
                                897
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="post-card">
                <div class="media">
                    <%= image_tag('user/2.jpg', class: 'mr-3 rounded-circle', alt: 'User Image', width: "50", height: "50") %>
                    <div class="media-body">
                        <h5><a href="#">There are many variations of passages of Lorem Ipsum</a></h5>
                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                        <a href="#">
                            <%= image_tag('post/post-img2.jpg', alt: 'User Image') %>
                        </a>
                        <div class="feed-back mt-3" style="text-align: center">
                            <a href="#">
                                <i data-feather="message-square" class="icon"></i>
                                897
                            </a>
                            <a href="#">
                                <i data-feather="thumbs-up" class="icon"></i>
                                897
                            </a>
                            <a href="#">
                                <i data-feather="share-2" class="icon"></i>
                                897
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="post-card">
                <div class="media">
                    <%= image_tag('user/3.jpg', class: "mr-3 rounded-circle", width: "50", height: "50", alt: 'User Image') %>
                    <div class="media-body">
                        <h5><a href="#">There are many variations of passages of Lorem Ipsum</a></h5>
                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                        <a href="#">
                            <%= image_tag('post/post-img3.jpg', alt: 'User Image') %>
                        </a>
                        <div class="feed-back mt-3">
                            <a href="#">
                                <i data-feather="message-square" class="icon"></i>
                                897
                            </a>
                            <a href="#">
                                <i data-feather="thumbs-up" class="icon"></i>
                                897
                            </a>
                            <a href="#">
                                <i data-feather="share-2" class="icon"></i>
                                897
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="profile-right-content">
            <div class="card mb-30">
                <div class="card-body">
                    <div class="card-header">
                        <h5 class="card-title">Friend Only</h5>
                    </div>

                    <div class="connecting-list">
                        <div class="media">
                            <a href="#">
                                <%= image_tag('user/1.jpg', class: "mr-2 rounded-circle", width: "35", height: "35", alt: 'User Image') %>
                            </a>
                            <div class="media-body">
                                <h5><a href="#">Amber Gibs</a></h5>
                                <button type="button" class="btn btn-outline-primary rounded">Follow</button>
                            </div>
                        </div>
                        <div class="media">
                            <a href="#">
                                <%= image_tag('user/2.jpg', class: "mr-2 rounded-circle", width: "35", height: "35", alt: 'User Image') %>
                            </a>
                            <div class="media-body">
                                <h5><a href="#">Carl Roland</a></h5>
                                <button type="button" class="btn btn-outline-primary rounded">Follow</button>
                            </div>
                        </div>
                        <div class="media">
                            <a href="#">
                                <%= image_tag('user/3.jpg', class: "mr-2 rounded-circle", width: "35", height: "35", alt: 'User Image') %>
                            </a>
                            <div class="media-body">
                                <h5><a href="#">Paul Wilson</a></h5>
                                <button type="button" class="btn btn-outline-primary rounded">Follow</button>
                            </div>
                        </div>
                        <div class="media">
                            <a href="#">
                                <%= image_tag('user/4.jpg', class: "mr-2 rounded-circle", width: "35", height: "35", alt: 'User Image') %>
                            </a>
                            <div class="media-body">
                                <h5><a href="#">Alice Jenkins</a></h5>
                                <button type="button" class="btn btn-outline-primary rounded">Follow</button>
                            </div>
                        </div>
                        <div class="media">
                            <a href="#">
                                <%= image_tag('user/5.jpg', class: "mr-2 rounded-circle", width: "35", height: "35", alt: 'User Image') %>
                            </a>
                            <div class="media-body">
                                <h5><a href="#">Lauren Cox</a></h5>
                                <button type="button" class="btn btn-outline-primary rounded">Follow</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- End Profile -->